*.pyc
build/
openpose/
.vscode/
images/
todo.txt
backgroundInpainting/pretrainedModel.pth
.DS_Store
inpaintting/.DS_Store
posewarp/.DS_Store
posewarp/data/.DS_Store
posewarp/data/floss.mp4
posewarp/data/floss_frames
posewarp/data/jon_256.png
places365_standard/
dense_pose_transfer/bg_gen_model_checkpoint.pth
dense_pose_transfer/bg_disc_model_checkpoint.pth
UCF-dataset/preprocessed/
UCF-dataset/ucf-densepose.tar.gz
*.pth
dense_pose_transfer/runs/
dense_pose_transfer/ucf_filelist.txt
dense_pose_transfer/ucf_test_list.txt
dense_pose_transfer/ucf_train_list.txt